*{
  margin:0;padding:0;
  box-sizing: border-box;
}

:root{
  --font-size: calc(1vw + 1vh)
}

body{
  font-family: 'space_mono';
  background-color: #232323;
}

@font-face {
  font-family: 'space_mono';
  src: url('./assets/font/SpaceMono-Regular.ttf');
}

.container{
  max-width: 90%;
  margin:0 auto;
}


.notActiveImg{
  display:none;
}


.dropMenu{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #333333;
  z-index: 2;
  display:flex;
  justify-content: center;
  align-items: center;
}


.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:2rem;

  ul{
    display:flex;
    gap:2.5rem;

    li{
      list-style-type: none;

      a{
        text-decoration: none;
        color:grey;
        transition: all .25s ease;

        &:hover{
          color:#cacaca
        }
      }
    }
  }
  
  .toggleNavMenu, button {
    display:none
  }
}


.cars{
  display:flex;  
  justify-content: space-around;
  align-items: center;
  position: relative;

  .cars_names{

    .cars_names__inner{

      ul{
        
        li{
          list-style-type: none;
          margin:1rem;
          padding:.5rem;
          cursor: pointer;
          transition: all .15s ease;

          &:hover{
            background-color: gray;
          }
        }
      };
    }
  }

  .cars_image{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 300px;

    .cars_image_inner{
      width: 100%;

      img{
        width: 100%;
      }
    }
  }
}


.header{
  display:flex;
  align-items: flex-end;
  padding: 5%;
  margin-bottom: 7rem;

  .header__inner{
    display:flex;
    flex-direction: column;

    .top{
      display: flex;
      align-items: flex-end;

      .headers{

        h1{
          font-size:calc(var(--font-size) * 1.7);
          text-transform: uppercase;
          word-wrap: break-word;
          word-break: break-all;
        }
      }
    }

    .bottom{

      h1{
        font-size:calc(var(--font-size) * 10);
        text-transform: uppercase;
        width: 100%;
      }
    }

    h1{
      color:white;
    }
  }
}



.stronger{
  background-color: #131313;
  padding: 10rem 12.5rem;

  .stronger_inner{
    display:flex;
    align-items: center;
    gap:15rem;
    width: 100%;

    .stronger_info{
      position: relative;
      z-index: 0;

      h2{
        top: -15%;
        left: -30%;
        z-index: -1;
        font-size:5rem;
        font-weight: bold;
        position: absolute;
        color:white;

        -webkit-text-stroke: 1px #acacac10;
        color:#131313;
      }

      h1{
        color:white;
        text-transform: uppercase;
        position: relative;

        &::after{
          content: url('/public/plus.png');
          position: absolute;
          top: -23%;
          left: -10%;
          font-size: 4rem;
        }
      }
      p{
        color:grey;
        padding-block:2rem;
      }
      button{
        color:white;
        border:1px solid;
        border-radius: 5rem;
        background: none;
        display:flex;
        justify-content: center;
        align-items: center;
        gap:2rem;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 2rem;
        transition: all .25s ease;
        cursor: pointer;
        
        img{
          border:1px solid;
          border-radius: 5rem;
          padding:.5rem;
          background-color: #131313;
        }

        &:hover{
          border: 1px solid grey;
          background-color: #272727;
        }

      }
    }

    .stronger_img{
      position: relative;
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 50%;
      img{
        position: absolute;
      }
    }
  }
}





.daytostart{
  background-color: #272727;
  padding: 12rem 14rem;

  .daytostart_inner{
    display:flex;
    align-items: center;
    gap:15rem;
    width: 100%;

    .daytostart_info{
      position: relative;
      z-index: 0;

      h2{
        top:-15%;
        left:-10%;
        z-index: -1;
        font-size:5rem;
        font-weight: bold;
        position: absolute;
        color:white;

        -webkit-text-stroke: 1px #acacac10;
        color:#131313;
      }

      h1{
        color:white;
        text-transform: uppercase;
        position: relative;

        &::after{
          content: url('/public/plus.png');
          position: absolute;
          top: -34%;
          left: -10%;
          font-size: 4rem;
        }
      }
      p{
        color:grey;
        padding-block:2rem;
      }
      button{
        color:white;
        border:1px solid;
        border-radius: 5rem;
        background: none;
        display:flex;
        justify-content: center;
        align-items: center;
        gap:2rem;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 2rem;
        transition: all .25s ease;
        cursor: pointer;
        
        img{
          border:1px solid;
          border-radius: 5rem;
          padding:.5rem;
          background-color: #131313;
        }

        &:hover{
          border: 1px solid grey;
          background-color: #131313;
        }

      }
    }

    .daytostart_img{
      position: relative;
      display:flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      
      img{
        margin-bottom: 4.1rem;
        position: absolute;
        // width: 100%;
      }
    }
  }
}




.brands{
  background-color: #131313;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:2rem;
  padding: 5rem 0;
  flex-wrap: wrap;

  .brands_card{
    display:flex;
    flex-direction: column;
    justify-content: center;

    h2{
      color:white;
    }
  }
}


.joinus{
  width: 100%;
  position: relative;
  background-color: #131313;

  img{
    width: 100%;
  }

  h1{
    font-size: calc(var(--font-size) * 6);
    position: absolute;
    top:100%;
    left:50%;
    transform: translate(-50%, -60%);
    color:white;
    width: 100%;
    text-align: center;
    
    &::after{
      content: url('/Vector.png');
      transform: scale(0.1);
      
    }
  }
}



.signup{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:2rem;
  padding: 10rem 2rem;
  flex-direction: column;
  background-color: #131313;

  .signup_text{
    position: relative;

    h2{
      top:-100%;
      left:-10%;
      z-index: 0;
      opacity: .6;
      font-size:10rem;
      font-weight:lighter;
      position: absolute;
  
      -webkit-text-stroke: 1px #d9d9d950;
      color:#40404050;
    }
  
    h1{
      color:white;
      z-index: 1;
      text-transform: uppercase;
      position: relative;
      font-size: calc((var(--font-size) / .4));
  
      &::after{
        content: url('/public/plus.png');
        position: absolute;
        top: -34%;
        left: -10%;
        font-size: 4rem;
      }
    }

    p{
      color:#ccc;
      word-wrap: break-word;
      word-break: break-all;
    }
  }

  form{
    display:flex;
    justify-content: center;
    align-items: center;
    
    gap:1rem;

    input{
      padding: 1rem 4rem;
      border-radius: 2rem;
      background: none;
      border:1px solid #404040;
      color:white;
    }

    button{
      color:white;
      border:1px solid;
      border-radius: 5rem;
      background: none;
      display:flex;
      justify-content: center;
      align-items: center;
      gap:2rem;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 2rem;
      transition: all .25s ease;
      cursor: pointer;
      
      img{
        border:1px solid;
        border-radius: 5rem;
        padding:.5rem;
        background-color: #131313;
      }

      &:hover{
        border: 1px solid grey;
        background-color: #272727;
      }

    }
  }
  
}




.partofus{
  overflow: hidden;

  .partHeader{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5rem auto;


    h1{
      color:white;
      text-transform: uppercase;
      position: relative;
      font-size: calc(var(--font-size) * 2);

      &::after{
        content: url('/public/plus.png');
        position: absolute;
        top: -70%;
        left: 30%;
        font-size: 4rem;
      }
    }

    p{
      color: #cacaca;
      text-transform: uppercase;
      font-size: calc(var(--font-size) * 1);
    }

    h2{
      top:-100%;
      left:40%;
      z-index: 0;
      opacity: .6;
      font-size: calc((var(--font-size) * 5));
      font-weight:lighter;
      position: absolute;
  
      -webkit-text-stroke: 1px #d9d9d950;
      color:#40404050;
    }
  }

  .partSlider{
    display:flex;
    gap: 2rem;
    width: 100%;

    .slider_item{
      width: 100%;

      img{
        pointer-events: none;
      }
    }
  }
}



.your_bmi{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 10rem;
  gap:2rem;

  .bmi_form{
    position: relative;

    h1{
      color:white;
      text-transform: uppercase;
      position: relative;
      font-size: calc(var(--font-size) * 2);

      &::after{
        content: url('/public/plus.png');
        position: absolute;
        top: -35%;
        left: -5%;
        font-size: 4rem;
      }
    }

    p{
      padding-block: 1rem;
      color: #cacaca;
      text-transform: uppercase;
      font-size: calc(var(--font-size) * .7);
    }

    h2{
      top:-20%;
      left:-5%;
      z-index: 0;
      opacity: .6;
      font-size: calc((var(--font-size) * 5));
      font-weight:lighter;
      position: absolute;
  
      -webkit-text-stroke: 1px #d9d9d950;
      color:#40404050;
    }

    form{
      display:grid;
      align-items: center;
      gap:1rem;
      grid-template-columns: 1fr 1fr;

      input{
        padding: 1rem 4rem;
        border-radius: 2rem;
        background: none;
        border:1px solid #404040;
        color:white;
        // width: 80%;
      }

    }
    button{
      margin-top: 1rem;
      color:white;
      border:1px solid;
      border-radius: 5rem;
      background: none;
      display:flex;
      justify-content: center;
      align-items: center;
      gap:2rem;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 2rem;
      transition: all .25s ease;
      cursor: pointer;
      
      img{
        border:1px solid;
        border-radius: 5rem;
        padding:.5rem;
        background-color: #131313;
      }

      &:hover{
        border: 1px solid grey;
        background-color: #272727;
      }
    }
  }
  
  .bmi_info{
    width: 50%;

    img{
      width: 100%;
    }
  }
}